<style>
    #container .row .col-sm-3{
        min-width: 300px; 
        margin: 10px;
    }
    /*  #container .card-title a{
          color: white;        
      }*/
</style>
<div class="container" style="width:100%" id="container">
    <div class="row">
        <div class="col-sm-12 mx-auto">
            <div class="card text-center" style="border: 0px">
                <div class="card-header" contentEditable="false">
                    <h4 class="card-title"><a href="index.html?p=lab">Analyse</a></h4>
                </div>
                <div class="card-body" style="padding: 10px">                            
                    <p class="card-text">Analyseer het probleem hier.<br/></p>                                              
                </div>
            </div> 
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 mx-auto">
            <div class="card text-center" style="border: 0px">
                <div class="card-header" contentEditable="false">
                    <h4 class="card-title"><a href="index.html?p=lab">Oplossing</a></h4>
                </div>
                <div class="card-body" style="padding: 10px">                            
                    <p class="card-text">Hoe wordt het probleem opgelost?<br/></p>                                              
                </div>
            </div> 
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 mx-auto">
            <div class="card text-center" style="border: 0px">
                <div class="card-header" contentEditable="false">
                    <h4 class="card-title"><a href="index.html?p=lab">Validatie</a></h4>
                </div>
                <div class="card-body" style="padding: 10px">                            
                    <p class="card-text">Documenteer hier hoe de oplossing is gevalideerd.<br/></p>                                              
                </div>
            </div> 
        </div>
    </div>

</div>
