/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 9, 2018, 1:09:46 PM
    Author     : matmey
*/

.progress{
    color: #999999;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; 
    opacity: 0.9;
    width: 100%;
    height: 100%;
   // border-radius:0;
}

.progress-bar-striped{
   // opacity: 0.6;


}

.card, .card-header{
  border-bottom: none;
  border:none;
  border-radius: 0;
}

.ui-jqgrid-title{
    z-index: 1;
    font-size:1.5em;

}


.ui-jqgrid.ui-jqgrid-bootstrap tr.jqfoot>td, .ui-jqgrid.ui-jqgrid-bootstrap tr.jqgfirstrow>td, .ui-jqgrid.ui-jqgrid-bootstrap tr.jqgroup>td, .ui-jqgrid.ui-jqgrid-bootstrap tr.jqgrow>td
{
    padding: .2em .2em;        
}

.btn{
    margin:5px;
}