/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 9, 2018, 1:09:46 PM
    Author     : matmey
*/

#qc-container{
    width:100%;
    margin-left: auto;
    margin-right: auto;
}

.ui-jqgrid .ui-jqgrid-htable th {
    padding:  5px 1em 5px 1em;
}
.ui-jqgrid tr.jqgrow > td,
.ui-jqgrid tr.jqgroup > td,
.ui-jqgrid tr.jqfoot > td,
.ui-jqgrid tr.jqfoot > td,
.ui-jqgrid tr.jqgfirstrow > td {
    padding:  5px 1em 5px 1em;
}