#export table, #export thead, #export tbody, #export th, #export td, #export tr {
    display : block;
}
#export thead tr {
    position : absolute;
    top : -9999px;
    left : -9999px;
}
#export tr {
    border : #ccc solid 1px;
    margin: 10px;
    border-radius: 5px;
    padding: .5em;
    background: #fbf9f9;
}
#export tr:nth-of-type(odd) {
    background : rgb(224, 224, 224);
}
#export td {
    border : none;
    border-bottom : 1px solid #eee;
    position : relative;   
    white-space : normal;
    text-align : left;
    overflow: auto;
    max-height: 700px;
}
#export td:before {
    top : 6px;
    left : 6px;
    width : 45%;
    padding-right : 10px;
    white-space : nowrap;
    text-align : left;
    font-weight : bold;
}
#export td:before {
    content : attr(data-title);
}