/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 30, 2018, 2:34:27 PM
    Author     : matmey
*/
body {
    overflow: auto    
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
    width: 10px;
}
::-webkit-scrollbar:horizontal {
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(var(--bs-primary-rgb), 0.3);
    border-radius: 10px;
    border: 2px solid rgba(var(--bs-primary-rgb), 0.3);
}

.navbar-toggler-icon {
    -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    mask-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    background: rgba(var(--bs-primary-rgb));
    // background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggler-icon>svg>path{ /*target the image with css*/

}
.navbar-toggler {
    //  background: #fff; /* pick your color */
}
.navbar{
    background: white;
    opacity: 0.8;

}
.jumbotron{
    opacity: 0.8;    
}

.sticky-top{
    z-index: 900;
}
.subgrid-data{

}

#alertWrapper{    
    position: fixed;
    z-index: 1000;    
    bottom: 20px;
    left: 20px;
}

#floating_alert{
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 1000000;
    max-width: 300px;
    width: 200px;
    word-break: break-all;
}

#navbar-extra{
    overflow-x: auto;

}

.nav-item{
    margin-top: 0.5em;    
}

h1, .h1 {
    word-break: break-all;
    font-size: 2em;
}

h2, .h2 {
    font-size: 1.8rem;    
}
h3, .h3 {
    font-size: 1.6rem;    
}
h4, .h4 {
    font-size: 1.5rem;    
}
h5, .h5 {
    font-size: 1.2rem;    
}
a {
    cursor: pointer;    
}


/*BOOTSTRAP*/
html {
    font-size: 1rem;
}
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

:root {
    --header-height: 3rem;
    --nav-width: 250px;
    --bs-table-striped-color: var(--bs-gray-300) !important;
    --alpha: 0.9;
    --normal-font-size: 1rem;
    --z-fixed: 100;

}


input[type="text"], textarea {
    color: var(--bs-gray-600);
    // background-color : var(--bs-gray-200); 

}

.show-menu {
    left: 0 !important;
}
.sidebar-toggle {
    position: fixed;
    top: 60px;
    overflow-y: auto;
    left:  calc(var(--nav-width) * -1);
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    /* padding: .5rem 1rem 0 0; */
    transition: .5s;
    z-index: var(--z-fixed);
}

@media screen and (min-width: 768px) {
    .show-menu {
        width: calc(var(--nav-width))
    }
}


@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
}

/*JQGRID*/

.ui-jqgrid .ui-jqgrid-toppager .ui-pager-control, .ui-jqgrid .ui-jqgrid-pager .ui-pager-control {
    height: auto;
}
.ui-jqgrid .ui-pager-control td[id$="_toppager_center"], .ui-jqgrid .ui-pager-control td[id$="pager_center"] {
    width: auto !important;
    white-space: normal !important;
    height: auto;
}
.ui-jqgrid .ui-pager-control td[id$="_toppager_left"], .ui-jqgrid .ui-pager-control td[id$="pager_left"] {
    width: auto !important;
    white-space: normal !important;
    height: auto;

}
.ui-jqgrid .ui-pager-control td[id$="_toppager_right"], .ui-jqgrid .ui-pager-control td[id$="pager_right"] {
    width: auto !important;
    white-space: normal !important;
    height: auto;
}
.ui-jqgrid .ui-jqgrid-bdiv, .ui-jqgrid .ui-jqgrid-view.table-responsive, .ui-jqgrid, .ui-jqgrid-pager,
.ui-jqgrid-toppager, .ui-jqgrid-hdiv {
    width: auto !important;
}
.ui-jqgrid .ui-pager-control td[id$="_toppager_left"], .ui-jqgrid .ui-pager-control td[id$="pager_left"],
.ui-jqgrid .ui-pager-control td[id$="_toppager_center"], .ui-jqgrid .ui-pager-control td[id$="pager_center"] {
    overflow-x: auto;
    overflow-y: hidden;
}

@media (max-width: 575.98px) {
    .ui-jqgrid tr.jqgrow td {
        white-space: break-spaces;

    }
    .ui-jqgrid table {
        display: initial;
    }
}

.jqgrow{
    cursor:pointer;
}

jqgrid-bootstrap tr.jqgrow>td {
    padding: 0.8em .8em;
}
.ui-jqgrid.ui-jqgrid-bootstrap>.ui-jqgrid-view {
    font-size: 1em;
    border: none !important;
    overflow-x: auto;
    table-layout:auto !important;
}

.ui-jqgrid.ui-jqgrid-bootstrap>.ui-jqgrid-pager {
    font-size: 1em;
}
.ui-jqgrid.ui-jqgrid-bootstrap>.ui-jqgrid-pager .btn, .ui-jqgrid.ui-jqgrid-bootstrap>.ui-jqgrid-view .btn {
    font-size: 1em;
}
.ui-jqgrid-bdiv {
    display: contents;    
}
.ui-jqgrid-btable .ui-state-highlight { background: yellow; }
.row-selected{
    background-color: lightblue !important;
}

.ui-jqdialog.ui-jqgrid-bootstrap .ui-jqdialog-titlebar .ui-jqdialog-title, .ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-errorbar .ui-jqgrid-error, .ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-titlebar .ui-jqgrid-title {
    font-size: 1.2em;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-bootstrap-corner-top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: .6em;
}

.ui-jqdialog.ui-jqgrid-bootstrap {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0.5rem;
    //margin: 1% !important;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-caption {
    font-size: 1rem;
    //background-color: #FFFFFF;
    //color: #797979;
    //-ms-border-top-left-radius: 0px;
    //-ms-border-top-right-radius: 0px;
    //border-radius: 5px;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-bootstrap-corner-bottom {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    // background-color: #FFFFFF;
    //border-radius: 5px;
}

.ui-jqgrid .ui-jqgrid-caption .ui-jqgrid-titlebar-close {
    //right: .6em;
}

.ui-jqgrid.ui-jqgrid-bootstrap {
    border: 0px solid #ddd;
    -ms-border-radius: 0px;
    border-radius: 0px; 
    margin-left: auto;
    margin-right: auto;



}

.ui-jqgrid tr.jqgrow td { 
    font-size: 1rem;
    white-space: pre-wrap;
    overflow: hidden;
    height: auto;
    vertical-align: middle;
    padding-top: 3px;
    padding-bottom: 3px;
    max-width: 200px !important;
}

.ui-jqgrid tr.jqgrow:hover {
    background-color: lightblue !important;
}

.ui-jqgrid.ui-jqgrid-bootstrap>.ui-jqgrid-pager .fa, .ui-jqgrid.ui-jqgrid-bootstrap>.ui-jqgrid-view .fa {
    font-size: 1.2em;
}


@media screen and (max-width: 3000px) {
    /*Force table to not be like tables anymore */
    .EditTable table,
    .EditTable thead,
    .EditTable tbody,
    .EditTable th,
    .EditTable td,
    .EditTable tr {
        display: block;
    }
    .FormData{
        display: grid;
    }
}

textarea[title=ckedit] {


}


/*PIVOTTABLE*/
.pvtUi {
    display: block;
    width: 100%;
    overflow: auto;
}  

/*MODAL*/
.modal-body {
    //   max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.modal-body .container {
    //   max-height: calc(100vh - 210px);
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0rem;
}

/*.modal-backdrop{
    position: absolute;    
    //display:none;
    //background-color: transparent;
}*/

.modal-backdrop {
    width: auto !important;
    position: fixed;
    //background: rgba(0, 0, 0, 0.45);
    //display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    z-index: 40;
}

.modal ui-jqgrid-bootstrap{

}
.modal-open {
    // overflow: auto !important;
}

.modal-content{
    height: auto !important;    
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-hdiv, .ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-legacy-subgrid>thead {
    background-color: inherit !important;
}

body.modal-open {
    /*  overflow: hidden;
       position: fixed;*/
}

.CodeMirror {
    font-family: monospace !important;
    font-size: 16px !important;
    line-height: 1.5rem !important;
}

.popover {
    max-width: 800px !important    
}


.accordion-collapse:not(.show) {
  display: block;
  /* height = lineheight * no of lines to display */
  height: 5em;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
}
