/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 30, 2018, 2:34:27 PM
    Author     : matmey
*/
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggler {
    background: #fff; /* pick your color */
}
.navbar{
    background: white;
    opacity: 0.9; 
}

.sticky-top{
    z-index: 900;
}

#alertWrapper{    
    position: fixed;
    z-index: 1000;    
    bottom: 20px;
    right: 20px;
}

#floating_alert{
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 1000000;
    max-width: 300px;
    width: 200px;
    word-break: break-all;
}

#navbar-extra{
    overflow-x: auto;

}

h1, .h1 {
    word-break: break-all;
    font-size: 2em;
}

h2, .h2 {
    font-size: 1.8rem;    
}
h3, .h3 {
    font-size: 1.6rem;    
}
h4, .h4 {
    font-size: 1.5rem;    
}
h5, .h5 {
    font-size: 1.2rem;    
}
a {
    cursor: pointer;    
}


/*BOOTSTRAP*/
html {
    font-size: 1rem;
}
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
}

/*JQGRID*/

.jqgrow{
    cursor:pointer;
}

jqgrid-bootstrap tr.jqgrow>td {
    padding: 0.8em .3em;
}
.ui-jqgrid.ui-jqgrid-bootstrap>.ui-jqgrid-view {
    font-size: 1em;
}

.ui-jqgrid.ui-jqgrid-bootstrap>.ui-jqgrid-pager {
    font-size: 1em;
}
.ui-jqgrid.ui-jqgrid-bootstrap>.ui-jqgrid-pager .btn, .ui-jqgrid.ui-jqgrid-bootstrap>.ui-jqgrid-view .btn {
    font-size: 1em;
}
.ui-jqgrid-bdiv {
    display: contents;    
}
.ui-jqgrid-btable .ui-state-highlight { background: yellow; }
.row-selected{
    background-color: lightblue !important;
}

.ui-jqdialog.ui-jqgrid-bootstrap .ui-jqdialog-titlebar .ui-jqdialog-title, .ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-errorbar .ui-jqgrid-error, .ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-titlebar .ui-jqgrid-title {
    font-size: 2em;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-bootstrap-corner-top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: .6em;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-caption {
    font-size: 0.6rem;
    background-color: #2C3E50;
    color: #f7a100;
    -ms-border-top-left-radius: 0px;
    -ms-border-top-right-radius: 0px;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-bootstrap-corner-bottom {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.ui-jqgrid .ui-jqgrid-caption .ui-jqgrid-titlebar-close {
    right: .6em;
}

.ui-jqgrid.ui-jqgrid-bootstrap {
    border: 1px solid #ddd;
    -ms-border-radius: 0px;
    border-radius: 0px; 
}

.ui-jqgrid tr.jqgrow td { font-size: 0.8rem;word-wrap: break-word; /* IE 5.5+ and CSS3 */ white-space: no-wrap; /* CSS3 */ white-space: -moz-pre-wrap; /* Mozilla, since 1999 */ white-space: -pre-wrap; /* Opera 4-6 */ white-space: -o-pre-wrap; /* Opera 7 */ overflow: hidden; height: auto; vertical-align: middle; padding-top: 3px; padding-bottom: 3px; }

.ui-jqgrid.ui-jqgrid-bootstrap>.ui-jqgrid-pager .fa, .ui-jqgrid.ui-jqgrid-bootstrap>.ui-jqgrid-view .fa {
    font-size: 1.2em;
}


@media screen and (max-width: 3000px) {
    /*Force table to not be like tables anymore */
    .EditTable table,
    .EditTable thead,
    .EditTable tbody,
    .EditTable th,
    .EditTable td,
    .EditTable tr {
        display: block;
    }
    .FormData{
        display: grid;
    }
}

textarea[title=ckedit] {


}


/*PIVOTTABLE*/
.pvtUi {
    display: block;
    width: 100%;
    overflow: auto;
}  

/*MODAL*/
.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}